# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Selenium Drivers
chromedriver.exe
chromedriver
geckodriver.exe
geckodriver
msedgedriver.exe
msedgedriver

# Logs
*.log

# Pytest
.pytest_cache/

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

reports/*.html
screenshots/*.png
logs/*.log
logs/*.log.*
__pycache__/
.pytest_cache/
venv/